<div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-icon" width="16" height="16">
        <use href="/img/sprite.svg#icon-close-menu"></use>
      </svg>
    </button>
    <h2 class="modal__title">Welcome to the world of CoffeeJoy!</h2>
    <p class="modal__descr">
      Fresh brews, special offers, and cozy updates are coming your way.
    </p>
    <picture>
      <source media="(min-width: 1158px)" srcset="
          /img/backdrop/modal-greeting-picture-desktop.webp    1x,
          /img/backdrop/modal-greeting-picture-desktop@2x-min.webp 2x
        ">
      <source media="(min-width: 768px)" srcset="
          /img/backdrop/modal-greeting-picture-tab.webp    1x,
          /img/backdrop/modal-greeting-picture-tab@2x.webp 2x
        ">
      <source media="(max-width: 767px)" srcset="
          /img/backdrop/modal-greeting-picture-mob.webp    1x,
          /img/backdrop/modal-greeting-picture-mob@2x.webp 2x
        ">
      <img src="/img/backdrop/modal-greeting-picture-desktop.webp"
        alt="composition of items on the table in coffeeShop: flower, letter, cup of coffee, napkin, crouisane"
        width="644" height="374" class="modal__greeting-picture">
    </picture>
    <button type="button" class="modal__low-btn" data-modal-close-secondary>
      Close
    </button>
  </div>
</div>