<section class="experience">
  <div class="container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <ul class="pictures-galerie">
      <li class="pictures-item">
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_1-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_1-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_1-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_1@2x-min.jpg 2x
            "
          />
          <img
            class="pictures-item"
            src="../img/experience/desktop/pic_desktop_1-min.jpg"
            alt="Coffee Cup"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_2-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_2-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_2-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_2@2x-min.jpg 2x
            "
          />
          <img
            class="pictures-item"
            src="../img/experience/desktop/pic_desktop_2-min.jpg"
            alt="Croissant"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_3-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_3-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_3-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_3@2x-min.jpg 2x
            "
          />
          <img
            class="pictures-item"
            src="../img/experience/desktop/pic_desktop_3-min.jpg"
            alt="Book"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_4-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_4@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_4-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_4@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_4-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_4@2x-min.jpg 2x
            "
          />
          <img
            class="pictures-item"
            src="../img/experience/desktop/pic_desktop_4-min.jpg"
            alt="Book"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_5-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_5@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_5-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_5@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_5-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_5@2x-min.jpg 2x
            "
          />
          <img
            class="pictures-item"
            src="../img/experience/desktop/pic_desktop_5-min.jpg"
            alt="Book"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_6-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_6@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_6-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_6@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_6-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_6@2x-min.jpg 2x
            "
          />
          <img
            class="pictures-item"
            src="../img/experience/desktop/pic_desktop_6-min.jpg"
            alt="Book"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_7-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_7@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_7-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_7@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_7-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_7@2x-min.jpg 2x
            "
          />
          <img
            class="pictures-item"
            src="../img/experience/desktop/pic_desktop_7-min.jpg"
            alt="Book"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
