<section class="experience">
  <div class="container">
    <h2 class="experience-title"></h2>
    Coffee Moments
    <p>Experience the warmth and community of CoffeeJoy.</p>
    <ul>
      <li>
        <picture>
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_1-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_1-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_1-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_1@2x-min.jpg 2x
            "
          />
          <img
            src="../img/experience/desktop/pic_desktop_1-min.jpg"
            alt="Coffee Cup"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_2-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_2-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/tablet/pic_desktop_2-min.jpg    1x,
              ../img/experience/tablet/pic_desktop_2@2x-min.jpg 2x
            "
          />
          <img
            src="../img/experience/desktop/pic_desktop_2-min.jpg"
            alt="Croissant"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/experience/mobile/pic_mobile_3-min.jpg    1x,
              ../img/experience/mobile/pic_mobile_3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ../img/experience/tablet/pic_tablet_3-min.jpg    1x,
              ../img/experience/tablet/pic_tablet_3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 1158px)"
            srcset="
              ../img/experience/desktop/pic_desktop_3-min.jpg    1x,
              ../img/experience/desktop/pic_desktop_3@2x-min.jpg 2x
            "
          />
          <img
            src="../img/experience/desktop/pic_desktop_3-min.jpg"
            alt="Book"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
