<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__brand">
        <a class="footer__logo-link" href="#hero" aria-label="Головна сторінка">
          <svg class="footer__logo" aria-hidden="true">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="footer__socials">
          <li class="footer__social-item">
            <a
              class="footer__social-link"
              href="https://www.facebook.com/"
              aria-label="Facebook"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__icon footer__icon--facebook" aria-hidden="true">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              class="footer__social-link"
              href="https://www.instagram.com/"
              aria-label="Instagram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__icon footer__icon--instagram" aria-hidden="true">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              class="footer__social-link"
              href="https://x.com/"
              aria-label="X"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="footer__icon footer__icon--x" aria-hidden="true">
                <use href="/img/sprite.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <nav class="footer__nav" aria-label="Footer">
        <ul class="footer__menu">
          <li class="footer__menu-item"><a href="#welcome" class="footer__menu-link">About us</a></li>
          <li class="footer__menu-item"><a href="#quality" class="footer__menu-link">Benefits</a></li>
          <li class="footer__menu-item"><a href="#experience" class="footer__menu-link">Gallery</a></li>
          <li class="footer__menu-item"><a href="#testimonials" class="footer__menu-link">Testimonial</a></li>
          <li class="footer__menu-item"><a href="#location" class="footer__menu-link">Location</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer__bottom">
      <p class="footer__license">© 2025 CoffeeJoy. All rights reserved.</p>
    </div>
  </div>
</footer>
