<footer class="footer">
  <div class="container">
    <div class="footer_top">
      <div class="footer_top_left">
        <a class="footer_logo_link" href="#hero" aria-label="Головна сторінка">
          <svg class="icon_footer_logo" role="img" aria-hidden="true">
            <title>Logo-Coffee-Joy</title>
            <use href="./img/footer/icons-footer.svg#icon-footer-logo"></use>
          </svg>
        </a>
        <ul class="footer_socials">
          <li class="footer__social_item">
            <a
              class="footer_social_link"
              href="https://www.facebook.com/"
              aria-label="Facebook"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icon_footer_facebook" role="img" aria-hidden="true">
                <title>Facebook</title>
                <use href="./img/footer/icons-footer.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer_social_item">
            <a
              class="footer_social_link"
              href="https://www.instagram.com/"
              aria-label="Instagram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icon_footer_instagram" role="img" aria-hidden="true">
                <title>Instagram</title>
                <use href="./img/footer/icons-footer.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer_social_item">
            <a
              class="footer_social_link"
              href="https://x.com/"
              aria-label="X"
              target="_blank"
            >
              <svg
                class="icon_footer_x"
                role="img"
                aria-hidden="true"
                rel="noopener noreferrer"
              >
                <title>X</title>
                <use href="./img/footer/icons-footer.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <!--<div class="footer-nav" aria-label="Навігація по сайту">-->
      <ul class="footer_nav" aria-label="Навігація по сайту">
        <li class="footer_nav_item">
          <a href="#About-us" class="footer_nav_link">About us</a>
        </li>
        <li class="footer_nav_item">
          <a href="#Benefits" class="footer_nav_link">Benefits</a>
        </li>
        <li class="footer_nav_item">
          <a href="#Gallery" class="footer_nav_link">Gallery</a>
        </li>
        <li class="footer_nav_item">
          <a href="#Testimonial" class="footer_nav_link">Testimonial</a>
        </li>
        <li class="footer_nav_item">
          <a href="#Location" class="footer_nav_link">Location</a>
        </li>
      </ul>
      <!--</div>-->
    </div>
    <div class="footer_bottom">
      <p class="footer_license">© 2025 CoffeeJoy. All rights reserved.</p>
    </div>
  </div>
</footer>
