<footer class="footer">
  <div class="container">
    <div class="footer-logo-socials-nav">
      <div class="footer-logo-socials">
        <a class="footer-logo-link" href="#hero" aria-label="Головна сторінка">
          <svg class="icon-footer-logo" role="img" aria-hidden="true">
            <title>Logo-Coffee-Joy</title>
            <use href="./img/footer/icons-footer.svg#icon-footer-logo"></use>
          </svg>
        </a>
        <ul class="footer-socials-list">
          <li class="footer-social">
            <a
              class="footer-social-link"
              href="https://www.facebook.com/"
              aria-label="Facebook"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icon-footer-facebook" role="img" aria-hidden="true">
                <title>Facebook</title>
                <use href="./img/footer/icons-footer.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social">
            <a
              class="footer-social-link"
              href="https://www.instagram.com/"
              aria-label="Instagram"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="icon-footer-instagram" role="img" aria-hidden="true">
                <title>Instagram</title>
                <use href="./img/footer/icons-footer.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social">
            <a
              class="footer-social-link"
              href="https://x.com/"
              aria-label="X"
              target="_blank"
            >
              <svg
                class="icon-footer-x"
                role="img"
                aria-hidden="true"
                rel="noopener noreferrer"
              >
                <title>X</title>
                <use href="./img/footer/icons-footer.svg#icon-x"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-nav" aria-label="Навігація по сайту">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#About-us" class="footer-nav-link">About us</a>
          </li>
          <li class="footer-nav-item">
            <a href="#Benefits" class="footer-nav-link">Benefits</a>
          </li>
          <li class="footer-nav-item">
            <a href="#Gallery" class="footer-nav-link">Gallery</a>
          </li>
          <li class="footer-nav-item">
            <a href="#Testimonial" class="footer-nav-link">Testimonial</a>
          </li>
          <li class="footer-nav-item">
            <a href="#Location" class="footer-nav-link">Location</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-license">
      <p class="footer-license-text">© 2025 CoffeeJoy. All rights reserved.</p>
    </div>
  </div>
</footer>
