<header class="header">
  <div class="header__container container">
    <a
      class="header__logo"
      href="./index.html"
      aria-label="CoffeeJoy home page"
    >
      <svg class="header__logo-icon" width="62" height="35" role="img">
        <use href="../img/header/icons.svg#logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="#welcome">About us</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#quality">Benefits</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#experience">Gallery</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#testimonials">Testimonial</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#location">Location</a>
        </li>
      </ul>
    </nav>

    <button
      type="button"
      class="header__menu-btn"
      data-menu-open
      aria-label="Open mobile menu"
    >
      <svg
        class="header__menu-btn-icon"
        width="24"
        height="24"
        aria-hidden="true"
        focusable="false"
      >
        <use href="/img/header/icons.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
