<div class="mobile-menu" data-menu>
  <div class="container mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <a href="../index.html" class="mobile-menu-logo-link">
            <svg class="mobile-menu-logo" width="62" height="36">
              <use href="../img/mobileMenu/icons-menu-modal.svg#company-logo"></use>
            </svg>
        </a>
        <button type="button" class="mobile-menu-close" data-menu-close>
          <svg class="mobile-menu-icon" width="12" height="12">
            <use href="/img/mobileMenu/icons-menu-modal.svg#icon-close-menu"></use>
          </svg>
        </button>
    </div>
    <nav class="mobile-menu-nav">
      <ul class="menu-nav-list">
        <li class="menu-nav-item">
          <a href="#" class="menu-nav-link">About us</a>
        </li>
        <li class="menu-nav-item">
          <a href="#" class="menu-nav-link">Benefits</a>
        </li>
        <li class="menu-nav-item">
          <a href="#" class="menu-nav-link">Gallery</a>
        </li>
        <li class="menu-nav-item">
          <a href="#" class="menu-nav-link">Testimonial</a>
        </li>
        <li class="menu-nav-item"><a href="#" class="menu-nav-link">Location</a></li>
      </ul>
    </nav>
  </div>
</div>
