<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__container">
    <div class="mobile-menu__wrapper">
        <a href="../index.html" class="mobile-menu__logo-link">
            <svg class="mobile-menu__logo" width="62" height="36">
              <use href="/img/sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <button type="button" class="mobile-menu__close" data-menu-close>
          <svg class="mobile-menu__icon" width="12" height="12">
            <use href="/img/sprite.svg#icon-close-menu"></use>
          </svg>
        </button>
    </div>
    <nav class="mobile-menu__nav">
      <ul class="menu__nav-list">
        <li class="menu__nav-item">
          <a href="#" class="menu__nav-link">About us</a>
        </li>
        <li class="menu__nav-item">
          <a href="#" class="menu__nav-link">Benefits</a>
        </li>
        <li class="menu__nav-item">
          <a href="#" class="menu__nav-link">Gallery</a>
        </li>
        <li class="menu__nav-item">
          <a href="#" class="menu__nav-link">Testimonial</a>
        </li>
        <li class="menu__nav-item"><a href="#" class="menu__nav-link">Location</a></li>
      </ul>
    </nav>
  </div>
</div>
