<section class="quality" id="quality">
  <div class="container quality__container">
    <div class="quality__info">
      <p class="quality__tagline">Quality</p>
      <h2 class="quality__heading">Why CoffeeJoy Stands Out from the Rest</h2>

      <p class="quality__text">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to your
        needs.
      </p>
    </div>
    <div class="quality__gallery">
      <ul class="quality__list">
        <li class="quality__item">
          <picture class="quality__picture">
            <!-- Версия для десктопа -->
            <source srcset="
              ./img/quality/quality-desk-1.webp    1x,
              ./img/quality/quality-desk-1@2x.webp 2x
            " media="(min-width: 1440px)" type="image/webp">
            <!-- Версия для планшета -->
            <source srcset="
              ./img/quality/quality-tabl-1.webp    1x,
              ./img/quality/quality-tabl-1@2x.webp 2x
            " media="(min-width: 768px)" type="image/webp">

            <!-- Версия для мобильного -->
            <source srcset="
              ./img/quality/quality-mob-1.webp    1x,
              ./img/quality/quality-mob-1@2x.webp 2x
            " media="(max-width: 767px)" type="image/webp">
            <!-- Запасной вариант -->
            <img class="quality__image" src="./img/quality/quality-desk-1.webp" alt="Fresh-Roasted Coffee"
              loading="lazy" decoding="async" width="1312">
          </picture>
          <h3 class="quality__title">Fresh-Roasted Coffee for Every Taste</h3>
          <p class="quality__description">
            Savor the rich flavors of our expertly sourced beans.
          </p>
        </li>
        <li class="quality__item">
          <picture class="quality__picture">
            <!-- Версия для десктопа -->
            <source srcset="
              ./img/quality/quality-desk-2.webp    1x,
              ./img/quality/quality-desk-2@2x.webp 2x
            " media="(min-width: 1440px)" type="image/webp">

            <!-- Версия для планшета (от 768px) -->

            <source srcset="
              ./img/quality/quality-tabl-2.webp    1x,
              ./img/quality/quality-tabl-2@2x.webp 2x
            " media="(min-width: 768px)" type="image/webp">

            <!-- Версия для мобильного (до 375px) -->
            <source srcset="
              ./img/quality/quality-mob-2.webp    1x,
              ./img/quality/quality-mob-2@2x.webp 2x
            " media="(max-width: 375px)" type="image/webp">

            <!--Запасной вариант (если <picture> не поддерживается) -->
            <img class="quality__image" src="./img/quality/quality-desk-2.webp" alt="Fresh-Roasted Coffee"
              loading="lazy" decoding="async" width="1312">
          </picture>
          <h3 class="quality__title">
            Expert Baristas Crafting Your Perfect Brew
          </h3>
          <p class="quality__description">
            Our baristas are passionate about coffee and skilled in their craft.
          </p>
        </li>
        <li class="quality__item quality__item--wide">
          <picture class="quality__picture">
            <!-- Версия для десктопа -->
            <source srcset="
              ./img/quality/quality-desk-3.webp    1x,
              ./img/quality/quality-desk-3@2x.webp 2x
            " media="(min-width: 1440px)" type="image/webp">

            <!--Версия для планшета (от 768px) -->
            <source srcset="
              ./img/quality/quality-tabl-3.webp    1x,
              ./img/quality/quality-tabl-3@2x.webp 2x
            " media="(min-width: 768px)" type="image/webp">
            <!-- Версия для мобильного (до 767px) -->
            <source srcset="
              ./img/quality/quality-mob-3.webp    1x,
              ./img/quality/quality-mob-3@2x.webp 2x
            " media="(max-width: 375px)" type="image/webp">

            <!-- Запасной вариант (если <picture> не поддерживается) -->
            <img class="quality__image" src="./img/quality/quality-desk-3.webp" alt="Fresh-Roasted Coffee"
              loading="lazy" decoding="async" width="1312">
          </picture>
          <h3 class="quality__title quality__title--tablet">Cozy Atmosphere</h3>
          <p class="quality__description quality__description--tablet">
            We don't just serve coffee — we create a warm and welcoming space
            where every cup feels like home.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>