<section class="quality">
  <div class="container quality-container">
    <p class="quality-tagline">Quality</p>
    <!-- class="quality-heading-text"> -->
    <h2 class="quality-heading">Why CoffeeJoy Stands Out from the Rest</h2>

    <div class="quality-trext-containe">
      <p class="quality-text">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to
        your needs.
      </p>
    </div>

    <div class="quality-pict">
      <ul class="quality-list">
        <li class="quality-item">
          <picture class="pick">
            <!-- Версия для десктопа -->
            <source
              srcset="
                ./img/quality/quality-desk-1.jpg    1x,
                ./img/quality/quality-desk-1@2x.jpg 2x
              "
              media="(min-width: 1158px)"
              type="image/jpeg"
            />

            <!-- Версия для планшета -->
            <source
              srcset="
                ./img/quality/quality-tabl-1.jpg    1x,
                ./img/quality/quality-tabl-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />

            <!-- Версия для мобильного -->
            <source
              srcset="
                ./img/quality/quality-mob-1.jpg    1x,
                ./img/quality/quality-mob-1@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />

            <!-- Запасной вариант -->
            <img
              class="pick"
              src="./img/quality/quality-desk-1.jpg"
              alt="Fresh-Roasted Coffee"
              width="421"
              height="240"
            />
          </picture>
          <h3>Fresh-Roasted Coffee for Every Taste</h3>
          <p>Savor the rich flavors of our expertly sourced beans.</p>
        </li>
        <li class="quality-item">
          <picture class="pick">
            <source
              class="quality-photo"
              srcset="
                ../img/quality/quality-desk-2.jpg    1x,
                ../img/quality/quality-desk-2@2x.jpg 2x
              "
              media="(min-width: 1158px)"
              type="image/jpeg"
            />

            <!-- Версия для планшета (от 768px) -->

            <source
              srcset="
                ../img/quality/quality-tabl-2.jpg    1x,
                ../img/quality/quality-tabl-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />

            <!-- Версия для мобильного (до 767px) -->
            <source
              srcset="
                ../img/quality/quality-mob-2.jpg    1x,
                ../img/quality/quality-mob-2@2x.jpg 2x
              "
              media="(max-width: 375px)"
              type="image/jpeg"
            />

            <!--Запасной вариант (если <picture> не поддерживается) -->
            <img
              class="pick"
              src="./img/quality/quality-desk-2.jpg"
              alt="Fresh-Roasted Coffee"
              width="421"
              height="240"
            />
          </picture>
          <h3>Expert Baristas Crafting Your Perfect Brew</h3>
          <p>
            Our baristas are passionate about coffee and skilled in their craft.
          </p>
        </li>
        <li class="quality-item">
          <picture class="pick">
            <source
              class="quality-photo"
              srcset="
                ../img/quality/quality-desk-3.jpg    1x,
                ../img/quality/quality-desk-3@2x.jpg 2x
              "
              media="(min-width: 1158px)"
              type="image/jpeg"
            />

            <!--Версия для планшета (от 768px) -->

            <source
              srcset="
                ../img/quality/quality-tabl-3.jpg    1x,
                ../img/quality/quality-tabl-3@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <!-- Версия для мобильного (до 767px) -->
            <source
              srcset="
                ../img/quality/quality-mob-3.jpg    1x,
                ../img/quality/quality-mob-3@2x.jpg 2x
              "
              media="(max-width: 375px)"
              type="image/jpeg"
            />

            <!-- Запасной вариант (если <picture> не поддерживается) -->
            <img
              class="pick"
              src="./img/quality/quality-desk-3.jpg"
              alt="Fresh-Roasted Coffee"
              width="421"
              height="240"
            />
          </picture>
          <h3>Cozy Atmosphere</h3>
          <p>
            We don't just serve coffee — we create a warm and welcoming space
            where every cup feels like home.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
