<section class="subscribe">
  <div class="container">
    <h2 class="subscribe-title">Join Our Coffee Community</h2>
    <p>
      Experience the joy of coffee delivered right to your door. Sign up today!
    </p>
    <div class="footer-subscribe">
      <form class="email-form" name="email" autocomplete="off">
        <label class="email-label">
          <input
            class="form-input"
            type="email"
            name="username"
            placeholder="E-mail"
            autofocus
          />
        </label>
        <button class="subscribe-button" type="submit">
          Subscribe
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </button>
      </form>
      <p class="social-media-text">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
      <picture>
        <source
          media="(min-width: 1158px)"
          srcset="
            ../img/subscribe/desktop/pic_subscribe_desktop-min.jpg    1x,
            ../img/subscribe/desktop/pic_subscribe_desktop@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/subscribe/tablet/pic_subscribe_tablet-min.jpg    1x,
            ../img/subscribe/tablet/pic_subscribe_tablet@2x-min.jpg 2x
          "
        />
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/subscribe/mobile/pic_subscribe_mobile-min.jpg    1x,
            ../img/subscribe/mobile/pic_subscribe_mobile@2x-min.jpg 2x
          "
        />
        />
        <img
          src="../img/subscribe/desktop/pic_subscribe_desktop-min.jpg"
          alt="Subscribe"
        />
      </picture>
    </div>
  </div>
</section>
