<section class="subscribe">
  <div class="subscribe__container container">
    <div class="subscribe__content">
      <h2 class="subscribe__title">Join Our Coffee Community</h2>
      <p class="subscribe__text">
        Experience the joy of coffee delivered right to your door. Sign up today!
      </p>

      <form class="subscribe__form" name="email" autocomplete="off">
        <div>
          <label class="subscribe__label">
            <input class="subscribe__input" type="email" name="username" placeholder="Your E-mail Here" required>
          </label>
          <p class="subscribe__error">Error Text</p>
        </div>

        <button class="subscribe__button" type="submit" data-modal-open>
          Subscribe
          <span class="subscribe__icon-wrap" aria-hidden="true">
            <svg class="subscribe__icon" width="12.17" height="11.42">
              <use href="/img/sprite.svg#icon-arow"></use>
            </svg>
          </span>
        </button>
      </form>

      <p class="subscribe__disclaimer">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
    </div>

    <div class="subscribe__media">
      <picture>
        <source media="(min-width: 1440px)" srcset="
            ./img/subscribe/desktop/pic_subscribe_desktop-min.jpg    1x,
            ./img/subscribe/desktop/pic_subscribe_desktop@2x-min.jpg 2x
          ">
        <source media="(min-width: 768px)" srcset="
            ./img/subscribe/tablet/pic_subscribe_tablet-min.jpg    1x,
            ./img/subscribe/tablet/pic_subscribe_tablet@2x-min.jpg 2x
          ">
        <source media="(max-width: 767px)" srcset="
            ./img/subscribe/mobile/pic_subscribe_mobile-min.jpg    1x,
            ./img/subscribe/mobile/pic_subscribe_mobile@2x-min.jpg 2x
          ">
        <img class="subscribe__image" src="./img/subscribe/desktop/pic_subscribe_desktop-min.jpg" alt="Subscribe">
      </picture>
    </div>
  </div>
</section>