<section class="testimonials" id="testimonials">
  <div class="testimonials__container container">
    <h2 class="testimonials__title">What our visitors say</h2>

    <ul class="testimonials__list">
      <li class="testimonials__card">
        <ul class="testimonials__stars">
          <li class="testimonials__star">
            <svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="testimonials__star">
            <svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="testimonials__star">
            <svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="testimonials__star">
            <svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="testimonials__star">
            <svg class="testimonials__star-icon testimonials__star-icon--off" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="testimonials__quote">
          "Every cup feels like a warm hug! I’m addicted to their seasonal
          flavors!"
        </p>
        <p class="testimonials__author">Name Surname</p>
      </li>

      <li class="testimonials__card">
        <ul class="testimonials__stars">
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon testimonials__star-icon--off" width="20"
              height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="testimonials__quote">
          "CoffeeJoy is my go-to place for a perfect cup of coffee! The
          ambiance is so inviting, and the baristas are always friendly."
        </p>
        <p class="testimonials__author">Alice Johnson</p>
      </li>

      <li class="testimonials__card">
        <ul class="testimonials__stars">
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="testimonials__quote">
          "I love the variety of blends offered at CoffeeJoy. Every visit
          feels like a new experience!"
        </p>
        <p class="testimonials__author">Michael Smith</p>
      </li>

      <li class="testimonials__card">
        <ul class="testimonials__stars">
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon testimonials__star-icon--off" width="20"
              height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon testimonials__star-icon--off" width="20"
              height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="testimonials__quote">
          "The pastries are to die for! I can’t resist pairing them with my
          favorite latte. Highly recommend this spot!"
        </p>
        <p class="testimonials__author">Emily Davis</p>
      </li>

      <li class="testimonials__card">
        <ul class="testimonials__stars">
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="testimonials__quote">
          "A cozy little gem! CoffeeJoy has the best cold brew in town. I
          come here every weekend!"ot!"
        </p>
        <p class="testimonials__author">James Brown</p>
      </li>

      <li class="testimonials__card">
        <ul class="testimonials__stars">
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon testimonials__star-icon--off" width="20"
              height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon testimonials__star-icon--off" width="20"
              height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="testimonials__quote">
          "The atmosphere is perfect for working or relaxing with friends.
          Their Wi-Fi is fast too!"
        </p>
        <p class="testimonials__author">Sarah Wilson</p>
      </li>

      <li class="testimonials__card">
        <ul class="testimonials__stars">
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon testimonials__star-icon--off" width="20"
              height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="testimonials__quote">
          "I’m addicted to their seasonal flavors! Each one is crafted with
          such care and creativity."
        </p>
        <p class="testimonials__author">Chris Lee</p>
      </li>

      <li class="testimonials__card">
        <ul class="testimonials__stars">
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
          <li class="testimonials__star"><svg class="testimonials__star-icon testimonials__star-icon--off" width="20"
              height="20">
              <use href="/img/sprite.svg#icon-star"></use>
            </svg></li>
        </ul>
        <p class="testimonials__quote">
          "I appreciate how they source their coffee beans sustainably. It's
          great to support such an ethical business!"
        </p>
        <p class="testimonials__author">Patricia Taylor</p>
      </li>
    </ul>
  </div>
</section>