 <section class="testimonials">
      <div class="container">
        <h2 class="testimonials-title">What our visitors say</h2>
        <ul class="testimonials-card-list">
          <li class="testimonials-card-point">
            <ul class="testimonials-stars-list">
              <li class="testimonials-star-point">
                <svg class="icon-star-svg" width="20" height="20">
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="testimonials-star-point">
                <svg
                  class="icon-star-svg icon-star-svg-off"
                  width="20"
                  height="20"
                >
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="testimonials-quote">
              "Every cup feels like a warm hug! I’m addicted to their seasonal
              flavors!"
            </p>
            <p class="testimonials-visitor-name">Name Surname</p>
          </li>
          <li class="testimonials-card-point">
            <ul class="testimonials-stars-list">
              <li class="testimonials-star-point">
                <svg class="icon-star-svg" width="20" height="20">
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="testimonials-star-point">
                <svg
                  class="icon-star-svg icon-star-svg-off"
                  width="20"
                  height="20"
                >
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="testimonials-quote">
              "CoffeeJoy is my go-to place for a perfect cup of coffee! The
              ambiance is so inviting, and the baristas are always friendly."
            </p>
            <p class="testimonials-visitor-name">Alice Johnson</p>
          </li>
          <li class="testimonials-card-point">
            <ul class="testimonials-stars-list">
              <li class="testimonials-star-point">
                <svg class="icon-star-svg" width="20" height="20">
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="testimonials-star-point">
                <svg
                  class="icon-star-svg icon-star-svg-off"
                  width="20"
                  height="20"
                >
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="testimonials-quote">
              "I love the variety of blends offered at CoffeeJoy. Every visit
              feels like a new experience!"
            </p>
            <p class="testimonials-visitor-name">Michael Smith</p>
          </li>
          <li class="testimonials-card-point">
            <ul class="testimonials-stars-list">
              <li class="testimonials-star-point">
                <svg class="icon-star-svg" width="20" height="20">
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="testimonials-star-point">
                <svg
                  class="icon-star-svg icon-star-svg-off"
                  width="20"
                  height="20"
                >
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="testimonials-quote">
              "The pastries are to die for! I can’t resist pairing them with my
              favorite latte. Highly recommend this spot!"
            </p>
            <p class="testimonials-visitor-name">Emily Davis</p>
          </li>
          <li class="testimonials-card-point">
            <ul class="testimonials-stars-list">
              <li class="testimonials-star-point">
                <svg class="icon-star-svg" width="20" height="20">
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="testimonials-star-point">
                <svg
                  class="icon-star-svg icon-star-svg-off"
                  width="20"
                  height="20"
                >
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="testimonials-quote">
              "A cozy little gem! CoffeeJoy has the best cold brew in town. I
              come here every weekend!"ot!"
            </p>
            <p class="testimonials-visitor-name">James Brown</p>
          </li>
          <li class="testimonials-card-point">
            <ul class="testimonials-stars-list">
              <li class="testimonials-star-point">
                <svg class="icon-star-svg" width="20" height="20">
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="testimonials-star-point">
                <svg
                  class="icon-star-svg icon-star-svg-off"
                  width="20"
                  height="20"
                >
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="testimonials-quote">
              "The atmosphere is perfect for working or relaxing with friends.
              Their Wi-Fi is fast too!"
            </p>
            <p class="testimonials-visitor-name">Sarah Wilson</p>
          </li>
          <li class="testimonials-card-point">
            <ul class="testimonials-stars-list">
              <li class="testimonials-star-point">
                <svg class="icon-star-svg" width="20" height="20">
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="testimonials-star-point">
                <svg
                  class="icon-star-svg icon-star-svg-off"
                  width="20"
                  height="20"
                >
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="testimonials-quote">
              "I’m addicted to their seasonal flavors! Each one is crafted with
              such care and creativity."
            </p>
            <p class="testimonials-visitor-name">Chris Lee</p>
          </li>
          <li class="testimonials-card-point">
            <ul class="testimonials-stars-list">
              <li class="testimonials-star-point">
                <svg class="icon-star-svg" width="20" height="20">
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="testimonials-star-point">
                <svg
                  class="icon-star-svg icon-star-svg-off"
                  width="20"
                  height="20"
                >
                  <use href="/src/img/testimonials/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
            <p class="testimonials-quote">
              "I appreciate how they source their coffee beans sustainably. It's
              great to support such an ethical business!"
            </p>
            <p class="testimonials-visitor-name">Patricia Taylor</p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>