<section class="welcome" id="welcome">
  <div class="container welcome__container">
    <div class="welcome__top">
      <div class="welcome__col welcome__col--left">
        <p class="welcome__intro">Welcome</p>
        <h2 class="welcome__title">Our Journey: Passion for Quality Coffee</h2>
      </div>

      <div class="welcome__col welcome__col--right">
        <p class="welcome__description">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a href="./location.html" class="welcome__cta">
          <span class="welcome__cta-text">Find location</span>
          <svg width="20" height="20" class="welcome__cta-icon" aria-hidden="true">
            <use href="./img/sprite.svg#icon-findLocation"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="welcome__image">
      <picture>
        <source media="(min-width: 1158px)" srcset="
            ./img/welcome/welcome-desk-min.jpg    1x,
            ./img/welcome/welcome-desk@2x-min.jpg 2x
          " />
        <source media="(min-width: 768px)" srcset="
            ./img/welcome/welcome-tab-min.jpg    1x,
            ./img/welcome/welcome-tab@2x-min.jpg 2x
          " />
        <source media="(max-width: 767px)" srcset="
            ./img/welcome/welcome-mobile-min.jpg    1x,
            ./img/welcome/welcome-mobile@2x-min.jpg 2x
          " />
        <img src="./img/welcome/welcome-desk-min.jpg" width="1312" alt="The barista brews coffee"
          class="welcome__img" />
      </picture>
    </div>
  </div>
</section>