/* базовий контейнер */
.container {
  width: 100%;
  margin-inline: auto;
}

/* з 375px макет стає адаптивним */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 16px; /* внутрішні поля зліва/справа */
  }
}

/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px; /* внутрішні поля зліва/справа */
  }
}

/* desktop */
@media (min-width: 1158px) {
  .container {
    max-width: 1440px;
    padding: 0 64px; /* внутрішні поля зліва/справа */
  }
}