.hidden {
  display: none;
}

/* Універсальне box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(100%);
}

:root {
  --color-scheme-1-background: var(--color-coffee-lighter);
  --color-neutral-darkest: #0b0803;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #dad9d9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b5b4b3;
  --color-neutral: #858381;
  --color-neutral-dark: #54524e;
  --color-neutral-darker: #23201c;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-coffee-light);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(11, 8, 3, 0.05);
  --opacity-neutral-darkest-10: rgba(11, 8, 3, 0.1);
  --opacity-neutral-darkest-15: rgba(11, 8, 3, 0.15);
  --opacity-neutral-darkest-20: rgba(11, 8, 3, 0.2);
  --opacity-neutral-darkest-30: rgba(11, 8, 3, 0.3);
  --opacity-neutral-darkest-40: rgba(11, 8, 3, 0.4);
  --opacity-neutral-darkest-50: rgba(11, 8, 3, 0.5);
  --opacity-neutral-darkest-60: rgba(11, 8, 3, 0.6);
  --color-coffee-lightest: #eadfd6;
  --color-coffee-lighter: #e0cbb4;
  --color-coffee-light: #c29d84;
  --color-coffee: #b58869;
  --color-coffee-dark: #6f4e37;
  --color-coffee-darker: #60432f;
  --color-coffee-darkest: #443022;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-coffee);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-coffee);
  --color-error-red: #7f1c1c;
  --font-family: 'Quicksand', sans-serif;
  --second-family: 'Aboreto', sans-serif;
}

/* Скидання margin/padding для базових елементів */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Скидання списків */
ul {
  list-style: none;
}

/* Зображення не виходять за межі */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Посилання без підкреслення за замовчуванням */
a {
  text-decoration: none;
  color: inherit;
}

button,
a {
  cursor: pointer;
}

/* Покращення читабельності */
footer {
  font-family: var(--font-family);
  color: var(--color-scheme-1-text);
  background-color: var(--color-scheme-2-background);
  padding-top: 24px;
  padding-bottom: 24px;
}

/* плашка футера */
.footer-logo-socials-nav {
  background-color: var(--color-scheme-1-foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 40px;
  padding-block: 32px;
  padding-inline: 48px;
  max-width: 288px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .footer-logo-socials-nav {
    max-width: 704px;
    height: 156px;
  }
}

@media (min-width: 1158px) {
  .footer-logo-socials-nav {
    flex-direction: row;
    gap: 64px;
    max-width: 1312px;
    height: 100px;
  }
}

/* порядок лого+соціальні мережі */
.footer-logo-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 768px) {
  .footer-logo-socials {
    flex-direction: row;
  }
}

/* лого футера*/
.icon-footer-logo {
  width: 147px;
  height: 85px;
}

@media (min-width: 375px) {
  .icon-footer-logo {
    width: 147px;
    height: 85px;
  }
}

@media (min-width: 768px) {
  .icon-footer-logo {
    width: 64px;
    height: 36px;
  }
}

/* порядок соціальних мереж */
.footer-socials-list {
  display: flex;
  align-items: center;

  gap: 12px;
}

/* розмір іконок соціальних мереж */
.footer-sociial {
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .footer-sociial {
    width: 24px;
    height: 24px;
  }
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon-footer-facebook {
  width: 28px;
  height: 27px;
}

.icon-footer-instagram {
  width: 24px;
  height: 25px;
}

.icon-footer-x {
  width: 24px;
  height: 23px;
}

@media (min-width: 768px) {
  .icon-footer-facebook {
    width: 20px;
    height: 21px;
  }

  .icon-footer-instagram {
    width: 18px;
    height: 19px;
  }

  .icon-footer-x {
    width: 18px;
    height: 17px;
  }
}

/* навігація футера */
.footer-nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 32px;
}

@media (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
  }
}

.footer-nav-link {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

/* інформація про захист прав споживача */
.footer-license {
  display: flex;
  justify-content: center;
}

.footer-license-text {
  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}
