/* Покращення читабельності */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

footer {
  font-family: 'Quicksand', sans-serif;
  color: #0b0803;
  background: #b58869;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* плашка футера */
.footer_top {
  background: #c29d84;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 40px;
  padding-block: 32px;
  padding-inline: 48px;

  margin-left: auto;
  margin-right: auto;
  gap: 32px;
}

@media (min-width: 1158px) {
  .footer_top {
    flex-direction: row;
  }
}

/* порядок лого+соціальні мережі */
.footer_top_left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 768px) {
  .footer_top_left {
    flex-direction: row;
  }
}

/* лого футера*/
.icon_footer_logo {
  width: 147px;
  height: 85px;
}

@media (min-width: 375px) {
  .icon_footer_logo {
    width: 147px;
    height: 85px;
  }
}

@media (min-width: 768px) {
  .icon_footer_logo {
    width: 64px;
    height: 36px;
  }
}

/* порядок соціальних мереж */
.footer_socials {
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}

/* розмір іконок соціальних мереж */
.footer_sociial_item {
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .footer_sociial {
    width: 24px;
    height: 24px;
  }
}

.footer_social_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon_footer_facebook {
  width: 28px;
  height: 27px;
}

.icon_footer_instagram {
  width: 24px;
  height: 25px;
}

.icon_footer_x {
  width: 24px;
  height: 23px;
}

@media (min-width: 768px) {
  .icon_footer_facebook {
    width: 20px;
    height: 21px;
  }

  .icon_footer_instagram {
    width: 18px;
    height: 19px;
  }

  .icon_footer_x {
    width: 18px;
    height: 17px;
  }
}

/* навігація футера */
.footer_nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .footer_nav {
    flex-direction: row;
  }
}

.footer_nav_link {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  color: #0b0803;
}

/* інформація про захист прав споживача */
.footer_bottom {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.footer_license {
  font-weight: 400;
  font-size: 14px;

  /* line-height: 21px; */
  line-height: 1.5;
  color: #0b0803;
  margin: 0;
  padding: 0;
}
