.header {
  background-color: #e0cbb4;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header__logo-icon {
  padding: 0;
}
.header__logo {
  padding-bottom: 17px;
  padding-top: 17px;
  padding-left: 16px;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 72px;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: none;
}
.header__menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 12px;
  margin-right: 16px;
}

.header__menu-btn-icon {
  fill: #2e2f42;
}
@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
  /* Show nav links and hide menu button */
  .header__logo {
    padding-bottom: 17px;
    padding-top: 17px;
    padding-left: 32px;
  }

  .header__nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: auto;
    margin-right: 32px;
  }

  .header__nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .header__nav-item {
    padding: 6px;
  }

  .header__menu-btn {
    display: none;
  }

  .header__nav-link {
    color: #0b0803;
    font-weight: 400;
    font-size: 16px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 100%; /* normal state */
    text-decoration: none;
  }
  .header__nav-link--inactive {
    opacity: 20%;
  }

  .header__nav-link:hover,
  .header__nav-link:focus {
    opacity: 50%;
  }

  .header__nav-link:active {
    opacity: 70%;
  }
}

/* -------------------- */
/* Desktop: 1158px and up */
/* -------------------- */

@media screen and (min-width: 1158px) {
  .header__container {
    justify-content: space-between;
  }

  .header__nav {
    justify-content: space-between;
    padding: 0;
  }
}
.header__logo {
  padding: 17px 0;
}
