.hero {
  background-color: #e0cbb4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
    url(../img/hero/heromob.jpg);
  min-width: 320px;
  min-height: 644px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../img/hero/heromob@2.jpg);
  }
}

.hero__title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin: 0 0 24px;
}

.hero__paragraph {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin: 0 0 32px;
}

.hero__btn {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 24px;
  min-width: 135px;
  height: 44px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover {
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
  opacity: 0.5;
}

.hero__btn:active {
  background: #6f4e37;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../img/hero/herotab.jpg);
    justify-content: flex-start;
    min-height: 900px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
        url(../img/hero/herotab@2.jpg);
    }
  }
  .hero__container {
    max-width: 560px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
      url(../img/hero/herodesk.jpg);
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5)),
        url(../img/hero/herodesk@2.jpg);
    }
  }

  .hero__title {
    font-size: 56px;
  }
}
