.location {
  background-color: #e0cbb4;
}

.container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.location-container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
}

.text-container-location {
  max-width: 288px;
  height: 618px;
  margin-bottom: 32px;
}

.first-paragraph-location {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
}

.tittle-location {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 24px;
}

.second-paragraph-location {
  word-wrap: break-word;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 40px;
}

.location-svg-container {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.paragraph-list-item-location {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0803;
  font-style: normal;
  margin-bottom: 8px;
}

.location-list-item-links {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0b0803;
}

.location-list-item {
  margin-bottom: 40px;
}

.location-list-item-last {
  margin-bottom: 0;
}

.address-street-location {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
}

.address-street-link-location {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 8px;
}

.container-address-icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-list {
  margin-bottom: 32px;
}

.map-container {
  width: 288px;
  height: 307px;

  border-radius: 40px;
  overflow: hidden;
}

.location-map {
  display: block;
  border: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .location-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .location-list {
    display: flex;
    gap: 40px;
  }

  .location-list-item {
    margin-bottom: 0;
    width: 208px;
    height: 108px;
  }

  .location-list-item-last {
    height: 172px;
  }

  .text-container-location {
    min-width: 704px;
    height: 346px;
  }

  .map-container {
    width: 704px;
    height: 377px;
  }
}

@media (min-width: 1158px) {
  .location-container {
    max-width: 1440px;
    padding: 64px;
  }

  .tittle-location {
    font-size: 48px;
  }

  .text-container-location {
    min-height: 633px;
  }

  .location-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .location-list-item {
    width: 419px;
  }

  .location-list-item-last {
    height: 148px;
  }

  .map-container {
    display: block;
    width: 869px;
    height: 697px;
  }

  .location-container {
    display: flex;
    gap: 24px;
  }

  .text-container-location {
    margin-bottom: 0;
    min-width: 419px;
  }
}
