.location {
  background-color: #e0cbb4;
}

/* container */
.location__container {
  max-width: 375px;
  padding: 64px 16px;
}

/* intro (текстова колонка) */
.location__intro {
  max-width: 288px;
  margin-bottom: 32px;
}

.location__eyebrow {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
}

.location__title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 24px;
}

.location__subtitle {
  overflow-wrap: break-word;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 40px;
}

/* list */
.location__list {
  margin-bottom: 32px;
}

.location__item {
  margin-bottom: 40px;
}

.location__item--last {
  margin-bottom: 0;
}

/* item content */
.location__icon-wrap {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.location__icon {
  display: block;
}

.location__label {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #0b0803;
  margin-bottom: 8px;
}

.location__link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0b0803;
}

.location__address {
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  margin-bottom: 16px;
}

.location__address-link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0803;
  display: flex;
  align-items: center;
  gap: 8px;
}

.location__address-icon-wrap {
  display: inline-flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.location__address-icon {
  display: block;
}

/* map */
.location__map {
  /* width: 288px; */
  height: 307px;
  border-radius: 40px;
  overflow: hidden;
}

.location__map-frame {
  display: block;
  border: 0;
  width: 100%;
  height: 100%;
}

/* Tablet */
@media (min-width: 768px) {
  .location__container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .location__list {
    display: flex;
    gap: 40px;
  }

  .location__item {
    margin-bottom: 0;
    width: 33.3%;
    height: 108px;
  }

  .location__item--last {
    height: 172px;
  }

  .location__intro {
    min-width: 704px;
  }

  .location__map {
    width: 704px;
    height: 377px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .location__container {
    max-width: 1440px;
    padding: 64px;
    display: flex;
    gap: 24px;
  }

  .location__title {
    font-size: 48px;
  }

  .location__intro {
    min-height: 633px;
    margin-bottom: 0;
    min-width: 419px;
  }

  .location__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 0;
  }

  .location__item {
    width: 419px;
  }

  .location__item--last {
    height: 148px;
  }

  .location__map {
    width: 869px;
    height: 697px;
  }
}
