 .container {
     max-width: 375px;
     padding: 0 16px;
 }


.quality {
    background-color: #e0cbb4;
    padding: 64px 0;
 }

.quality-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
}

.quality-tagline {

    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803; 
       
}

.quality-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 24px;
    width: 100%;
    max-width: 288px;
    margin: 0 auto;
    padding-left: 0;

}

.quality-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pick {
    border-radius: 32px;
    width: 100%;
    height: auto;
    min-width: 288px;
}


.quality-heading {
    font-family: "Aboreto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0b0803;
    width: 288px;
} 

.quality-text-containe {
    width: 100%;
    max-width: 288px;
}

.quality-text {

    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;
    margin-top: 0;
    margin-bottom: 32px;
}

.quality-text-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;
    margin-top: 32px;
    margin-bottom: 8px;
}


.quality-text-description {

    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0b0803;
    margin: 0;
    
}
 

/* tablet */
@media (min-width: 768px) {
.container {
    max-width: 768px;
    padding: 0 32px;
        
    }

.quality-container {
    max-width: 704px;
    padding: 0;
}
    .quality-heading {
        
    width: 452px;
    margin-top: 16px;
    margin-bottom: 24px;
}
        
.quality-text {
    max-width: 704px;
    margin: 0 auto 40px;
}
    
    
.quality-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    max-width: 704px;
        
}

.quality-item {
    flex: 1 1 calc(50% - 24px);
    max-width: 340px;
        
}

.pick {
    max-width: 704px;
  
}

.pick-tablet {
    width: 704px;
    height: 401px;

}

.quality-text-description {
    width: 340px;
    margin: 0;

}

.quality-text-description-centr {
    align-items: center;
    width: 440px;
}

}



/* desctop */
@media (min-width: 1158px) {

.container {
    max-width: 1440px;
    padding: 0 64px;

    }

.quality-container {

    max-width: 1032px;
    padding: 0;
}


 .quality-pict {
    display: flex;
    align-items: center;


 }

.quality-list {
    flex-wrap: nowrap;
    gap: 32px;
    max-width: 1032px;

 }
.quality-item {
    flex: 1 1 0;
    min-width: 421px;
}


.pick-tablet {
    width: 421px;
    height: 240px;
}

 .pick {
    max-width: 421px;
    height: 240px;
     
    }













}

