.quality {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 64px;
}
.quality__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.quality__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 288px;
  margin-bottom: 32px;
}
.quality__tagline {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}
.quality__heading {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}
.quality__text {
  font-weight: 400;
  font-size: 18px;
}
.quality__gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.quality__list {
  width: 100%;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr;
}
.quality__item {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.quality__item:last-child {
  margin-bottom: 0px;
}
.quality__picture {
  margin-bottom: 32px;
}
.quality__image {
  border-radius: 32px;
}
.quality__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  max-width: 288px;
  margin-bottom: 8px;
}
.quality__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 288px;
}
.quality__tablet {
}
.quality__title--center {
}
.quality__description--center {
}

@media (min-width: 768px) {
  .quality__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .quality__item--wide {
    grid-column: 1 / -1;
  } /* нижня картка на 2 колонки */

  .quality__info {
    width: 100%;
    max-width: 704px;
  }
  .quality__heading {
    max-width: 452px;
  }
  .quality__title {
    max-width: 294px;
  }
  .quality__description {
    max-width: 294px;
  }
  .quality__title--tablet {
    max-width: 440px;
  }
  .quality__description--tablet {
    max-width: 440px;
  }
}

@media (min-width: 1440px) {
  .quality__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .quality__item--wide {
    grid-column: auto;
  }
  .quality__info {
    max-width: 768px;
  }
  .quality__heading {
    max-width: 100%;
    font-size: 48px;
  }
  .quality__title {
    max-width: 100%;
  }
  .quality__description {
    max-width: 294px;
  }
  .quality__title--tablet {
    max-width: 440px;
  }
  .quality__description--tablet {
    max-width: 440px;
  }
}
